/*============ FONTES ============= */
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Oswald', sans-serif;
*/
/*==================================*/
hr {
	background-color: #000;
	border:1px solid;
}
/*------------- T I T U L O # L A T E R A L  -------------*/
.titulolateral {
    background: linear-gradient(to bottom, #685589 0%,#553b87 99%);
	width:300px;
	height:30px;
	color:#F3F3F3;
	padding-top:10px;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	font-family: 'PT Sans Narrow', sans-serif;
	text-align:center;
	border-bottom:1px solid #C4C4C4;
	display:block;
}

.titulo {
	border-bottom:1px solid #ccc;
	margin:0px;
	color:#727272;
	margin-top:5px;
	font-family: 'Oswald';
	font-size:18px;
	margin-right:10px;
	margin-left:8px;
}
.teste {
    margin-top:10px;
	margin-left:10px;
	width:900px;
	word-wrap: break-word;
	background:#ccc;
}
.divconteudo {
	text-decoration:none;
	word-wrap: break-word;
}

/*---------------- T U D O # C E N T R O  ----------------*/
#tudo { 
	width:1070px;
	margin:0 auto; 
	text-align:left;
}
/*----------------- T O P O # P A G I N A ----------------*/
#topo {
	width:1000px;
	height:150px;
	margin: 0 auto;
}
#topocentro {
	height:150px;
	background:#FFF;
	clear:both;
}
#topo img {
	margin-top:-40px;

}
#topo input[type="text"]{
	width:300px;
	display:block;
	float:right;
	font-size: 13px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	height:25px;
	margin-top:110px;
	border:none;
	border-top: 1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4;
	border-left: 1px solid #C4C4C4;
}
#topo input[type="submit"]{
	width:40px;
	height:25px;
	border: 1px solid #C4C4C4;
	float:right;
	display:block;
	margin-top:110px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	padding-top: 10px;
	padding-bottom:10px;
	border:none;
	font-size: 15px;
}
/*------------------ N O T I C I A S ------------------ */
#noticias {
    width:1070px;
	height:350px;
	margin-bottom:20px;
	overflow:hidden;
	margin-top:20px;
	background: #FF4245;
	float:left; 
	clear:both;
}
/*------------------- C O N T E U D O ------------------- */
#meio {
	width:750px;
	height:auto;
	margin-bottom:30px;
	margin-right:20px;
	float:left;

}
/*------------------- N O T I C I A - P A G I N A -------------------- */
#paginanoticia {
	padding-left:15px;
	border-radius:4px;
	word-wrap: break-word;
}
#paginanoticia span {
	color:#B22222;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 30px;
}
#paginanoticia p {
	padding-right:15px;
	font-size:16px;
	color: #3C2D3D;
	font-family: 'Chivo', sans-serif;
}
#paginanoticia h5 {
	color: #664646;
	font-size: 14px;
}
/*------------------- L A T E R A L -------------------- */
.contar {
	width:520px;
	margin:0 auto;
	margin-bottom:20px;
}

.contar a {
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-weight:bold;
	color:#333;
	width:35px;
	height:25px;
	float:left;
	margin-left:5px;
	text-align:center;
	padding-top:5px;
	background:#f3f3f3;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	display:block;
}
.contar a:hover {

	
}
.ultima {
	width:auto;
	
}